<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railcam Transcriptor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/public/images/fab.jpeg" type="image/x-icon">
    <script src="index.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body onLoad='onLoad();'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div id="iconWalkieTalkie" class="fa-solid fa-walkie-talkie fa-2xl"></div>
                <div class="btn-group" role="group">
                    <button id="btnStartListening" class="btn btn-primary">Start</button>
                    <button id="btnStopListening" class="btn btn-primary">Stop</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn-group" role="group">
                </div>
            </div>
        </div>
        <div class="row" style="height: 90%;">
            <div class="col-lg-6">
                <div id='divCaptionsContainer' class='divCaptionsContainer'>
                    <div id='divCaptions' class='divCaptions'></div>
                </div>
                <div>Caption log will roll-off after <span id='spanMaxCaptionCount'></span> captions.</div>
            </div>
            <div class="col-lg-6">
                <div id='divHotboxCaptionsContainer' class='divCaptionsContainer'>
                    <div id='divHotboxCaptions' class='divCaptions'></div>
                </div>
                <div>Hot box detector caption log will roll-off after <span id='spanMaxHotboxCaptionCount'></span>
                    captions.</div>
            </div>
        </div>

</body>

</html>